    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="INDEX">
    <style>
       BODY
       {
        background: linear-gradient(to bottom right,white,red,black) no-repeat;
       }
  </style>
     <h1>
        <p align="center" style="color:#DC143C; font-size:35px">
        Blogs list
    </h1>
     <h2>
        {% if latest_blog_list %}
            <ul>
            {% for blog in latest_blog_list %}
               <p align="left" style="color:DarkRed; font-size:35px">
               <p><li><a href="{% url 'blogs:detail' blog.id %}"style="color:DarkRed">{{ blog.title }}<br></a></li></p>
            {% endfor %}
            </ul>
        {% else %}
             <p>No blogs are available.</p>
        {% endif %}
     </h2>
    <h4>
<button class="btn btn-dark" style="height:40px;width:120px" onclick="document.location='create'">Create blog</button>
<button class="btn btn-dark" style="height:40px;width:120px" onclick="document.location='../'">Back</button>
    </h4>
</div>