<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <style>
       BODY
       {
        background: linear-gradient(to bottom right,white,red,black) no-repeat;
       }
  </style>
        <h2>
            <p align="center" style="margin-top:50px; font-size:50px">
            Main page
        </h2>
        <h3>
            <p align="center" style="margin-top:50px;color:black; font-size:25px">
            Welcome My COOLSITE<br>
            It's gonna be pleasure for me if you look at my polls and blogs<br><br>
        </h3>
        <h4>
            <p align="left" style="color:#DC143C; font-size:15px">
            <button class="btn btn-dark" style="margin-left:65px;height:60px;width:700px" onclick="document.location='polls'"> Visit Polls</button>
            <button class="btn btn-light" style="margin-left:10px;height:60px;width:700px" onclick="document.location='blogs'">Watch Blogs</button><br><br>
        </h4>
        <h5>
            <p align="center" style="margin-top:150px;font-size:30px;color:white">
            <a>Hello, {{ user.username }}</a><br><br>
            <a class="btn btn-danger" href="register">Register</a>
            <a class="btn btn-danger" href="login">Log in</a>
                <a class="btn btn-danger" href="admin">Admin</a>
            <a class="btn btn-danger" href="logout">Log out</a><br>

        </h5>
        <h6>
            <p align="center" style="font-size: 1px; margin-top: 130px">
            .
        </h6>
</body>
</html>