<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!DOCTYPE html>
<style>
       BODY
       {
        background: linear-gradient(to bottom right,white,red,black) no-repeat;
       }
  </style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>
            <p align="center" style="font-size: 40px; margin-top: 100px">
        Вы вышли из аккаунта<br>
            <p align="center" style="font-size: 20px">
        </h1>
             <p align="center" style="font-size: 40px; margin-top: 100px">
            <button class="btn btn-dark" style="height:100;width:150" onclick="document.location='../../'">Ладно.</button>
</body>
</html>